<label class="quick-reply__option">
    <input type="checkbox" class="checkbox quick-reply__checkbox" name="postoptions[showinportal]"
           value="1"{% if isChecked %} checked="checked"{% endif %} /> {{ lang.ougc_showinportal_input }}
</label>